Package: yasm
Version: 1.3.0-2
Architecture: amd64
Maintainer: Sam Hocevar <sho@debian.org>
Installed-Size: 4363
Depends: libc6 (>= 2.7)
Section: devel
Priority: optional
Homepage: http://www.tortall.net/projects/yasm/
Description: modular assembler with multiple syntaxes support
 Yasm is a complete rewrite of the NASM assembler. It supports multiple
 assembler syntaxes (eg, NASM, GAS, TASM, etc.) in addition to multiple
 output object formats (binary objects, COFF, Win32, ELF32, ELF64) and
 even multiple instruction sets (including AMD64). It also has an
 optimiser module.
